body {
    margin-top: 80px;
    background-color: #c1d3fe;

    }
#headin{
    text-align: center;
    font-family: "Playwrite HR Lijeva", cursive;
    font-size: 40px;
    text-shadow: 2px 3px 5px;
}
#headin:hover{
    color: #3c096c;
}

.home-guest{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #012a4a;
    width: 350px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 10px;
    text-shadow: 1px 1px 4px #a71e34;
    color: #dee2e6;
    font-family: "Montserrat", sans-serif;

    }
    

#right-mv{
    margin-left: 20px;
    font-size: 20px;
}
    
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 80px;
    height: 75px;
    border: 2px solid #a71e34;
    border-radius: 20%;
    color: #F94F6D;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin-left: 18px;
    margin-bottom: 15px;
    font-size: 55px;
}


#btn{
    background-color: #012a4a;
    border: 3px solid #9AABD8;
    border-radius: 5px;
}
#btn:hover{
    background-color: #005f73;
}

h1{
    font-size: 55px;
}
#reset-btn{
    font-size: 20px;
    background-color: #007f5f;
    
    border-radius: 5px;
    color: white;
    padding: 5px;
    display: block;
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto;  
}

#reset-btn:hover{
    background-color: #25a18e;
}